<div class="navbar-fixed">
  <nav class="main-navbar">
    <div class="nav-wrapper container">
      <a href="{% url 'main' %}" class="brand-logo valign-wrapper">BeLabs</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class="fas fa-bars"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'blogs' %}" style="font-size: 2.2vh !important;">Blogs</a></li>
        {% if user.is_authenticated %}
        <li><a href="#addblog" class="waves-effect waves-light modal-trigger" style="font-size: 2.2vh !important;">Write A Blog </a></li>
        <li><a href="javascript:{document.querySelector('#logout').submit()}" style="font-size: 2.2vh !important;">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" style="font-size: 2.2vh !important;">Login</a></li>
        <li><a href="{% url 'register' %}" style="font-size: 2.2vh !important;">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<!-- Modal Structure -->
<div id="addblog" class="modal">
  <div class="modal-content">
      <div class="container">
          <h3 style="text-align: center; font-family: 'Kaushan Script', cursive; font-size: 4vh; font-weight: 500;"><i class="fas fa-pencil-alt"></i> Write A Blog</h3>
          <div class="new_message">
            <form action="{% url 'addblog' %}" class="center" method="POST" enctype="multipart/form-data" >
              {% csrf_token %}
              <div class="user_button">
                <input type="text" name="blog_title" style="font-size: 2.8vh; font-family: 'Roboto Condensed', sans-serif;" value="" placeholder="Enter Title..." required>
              </div>
              <div class="text-area">
                <textarea name="blog_body" style="font-size: 2.8vh; font-family: 'Roboto Condensed', sans-serif; height: 20rem; width: 100%; overflow-y: scroll;" id="blogspace" placeholder="Write Your Amazing Blog... (Minimum 30 words)" required></textarea>
              </div>
              <div class="file-field input-field">
                  <div class="btn" style="background: #272727 !important; width: 35% !important;" >
                    <span>File</span>
                    <input type="file" name="image" required>
                  </div>
                  <div class="file-path-wrapper">
                    <input class="file-path validate" style="font-size: 2.8vh; font-family: 'Roboto Condensed', sans-serif;" type="text" placeholder="Upload the image for your blog..." required>
                  </div> 
              </div>
              <!-- <input type="file" name="image"> -->
              <button type="submit" name="send_message" class="send_button" style="width: 50% !important;">Send</button>
            </form>
          </div>
        </div>
  </div>
</div>
        

<ul class="sidenav" id="mobile-nav" style="background: #272727;">
  {% if user.is_authenticated %}
  <li>
    <a href="{% url 'blogs' %}" style="color: #f4f4f4 !important;">Blogs</a>
  </li>
  <li>
      <a href="#addblog" class="waves-effect waves-light modal-trigger" style="color: #f4f4f4 !important;">Write A Blog</a>
    </li>
  <li>
      <a href="{% url 'logout' %}" style="color: #f4f4f4 !important;">Logout</a>
    </li>
  {% else %}
  <li>
    <a href="{% url 'login' %}" style="color: #f4f4f4 !important;">Login</a>
  </li>
  <li>
    <a href="{% url 'register' %}" style="color: #f4f4f4 !important;">Register</a>
  </li>
  {% endif %}
</ul>

<form id="logout" action="{% url 'logout' %}" method="POST" style="display: none;">
{% csrf_token %}
<input type="text">
</form>
