{% load static %}
<div class="navbar-fixed">
  <nav class="main-navbar">
    <div class="nav-wrapper container">
      <a href="{% url 'main' %}" class="brand-logo valign-wrapper"><i class="material-icons">important_devices</i>BeLabs</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class="fas fa-bars"></i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="{% url 'blogs' %}" style="font-size: 2.2vh !important;">Blogs</a></li>
        {% if user.is_authenticated %}
        <li><a href="#addblog" class="waves-effect waves-light modal-trigger" style="font-size: 2.2vh !important;">Write
            A Blog </a></li>
        {% if 'dashboard' in request.path %}
        <li><a href="#profile" class="waves-effect waves-light modal-trigger" style="font-size: 2.2vh !important;">My
            Profile </a></li>
        {% else %}
        <li><a href="{% url 'dashboard' %}" style="font-size: 2.2vh !important;">Dashboard</a></li>
        {% endif %}
        <li><a href="javascript:{document.getElementById('logout').submit()}" style="font-size: 2.2vh !important;">Logout</a></li>
        {% else %}
        <li><a href="{% url 'login' %}" style="font-size: 2.2vh !important;">Login</a></li>
        <li><a href="{% url 'register' %}" style="font-size: 2.2vh !important;">Register</a></li>
        {% endif %}
      </ul>
    </div>
  </nav>
</div>

<!-- Modal Structure -->
<div id="addblog" class="modal" style="border: 3px solid #272727; width: 80vw !important; height: 70vh !important;">
  <div class="modal-content">
    <div class="container">
      <h3 style="text-align: center; font-family: 'Kaushan Script', cursive; font-size: 4vh; font-weight: 500;"><i
          class="fas fa-pencil-alt"></i> Write A Blog</h3>
      <div class="new_message">
        <form action="{% url 'addblog' %}" class="center" method="POST" enctype="multipart/form-data" id="blog_submit_form">
          {% csrf_token %}
          <div class="user_button">
            <input type="text" name="blog_title" style="font-size: 2.4vh; font-family: 'Roboto Condensed', sans-serif;"
              value="" placeholder="Enter Title..." required>
          </div>
          <div class="text-area">
            <textarea name="blog_body" style="font-size: 2.4vh; font-family: 'Roboto Condensed', sans-serif; height: 16rem !important; width: 100%; overflow-y: scroll; text-align: left;"
              id="blogspace" placeholder="Min. 30 words will make a valid and awesome blog..." required></textarea>
          </div>
          <div class="file-field input-field">
            <div class="btn" style="background: #272727 !important; width: 35% !important;">
              <span>File</span>
              <input type="file" name="image" required>
            </div>
            <div class="file-path-wrapper">
              <input class="file-path validate" style="font-size: 2.4vh; font-family: 'Roboto Condensed', sans-serif;"
                type="text" placeholder="Upload the image for your blog...">
            </div>
          </div>
          <button type="submit" class="send_button" style="width: 50% !important; border-radius: 100px !important; border: 2px solid #272727;">Upload</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Profile Modal -->
<div id="profile" class="modal profile-modal" style="border: 2px #ffe400 solid;">
  <div class="modal-content" style="background: #272727 !important;">
    <div class="container center">
      <div class="profile-picture">
        {% if profile.picture %}
        <img src="{{profile.picture.url}}" style="object-fit: cover ;height: 15rem; width: 15rem; border-radius: 50%; border: 2px solid #ffe400; padding: 0.6rem;">
        {% else %}
        <img src="{%  static 'Resources/CSS/defaul.png' %}" style="object-fit: cover ;height: 15rem; width: 15rem; border-radius: 50%; border: 2px solid #ffe400; padding: 0.6rem;">
        {% endif %}
      </div>
      <div class="Profile_details" style="color: #ffe400;">
        <h3 id="profile_name">{{user.first_name}} {{user.last_name}} <span class="profile_editer" style="font-size: 1.8vh; background: #ffe400; color: #272727; border-radius: 40px; padding: 0.2rem 0.6rem; margin: auto 0.6rem !important;"><a
              href="#profile_editor_modal" class="modal-trigger modal-close">Edit</a></span>
        </h3>
        <p id="profile_username"> <span id="username_word">Username:</span> {{user.username}}</p>
        <p id="profile_email"> <span id="email_word">Email Id:</span> {{user.email}}</p>
        <p id="profile_bio"> <span id="bio_word">Bio</span>: {{profile.bio}}</p>
        <p id="interests"><span id="interests_word">Interests:</span> {{pinterests}}</p>
        <div class="social_media_profile">
          <p><a href="{{profile.github}}" target="_blank" id="github"><i class="fab fa-github"></i> GitHub </a></p>
          <p><a href="{{profile.linkedIn}}" target="_blank" id="linkedin"><i class="fab fa-linkedin-in"></i> LinkedIn
            </a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Profile Editor Modal -->
<div id="profile_editor_modal" class="modal profile-modal" style="border: 2px #ffe400 solid;">
  <div class="modal-content" style="background: #272727 !important;">
    <div class="container center">
      <div style="display: flex; flex-wrap: wrap;">
        <h3 id="profile_name" style="color: #ffe400;"><i class="far fa-user-circle"></i> Edit Your Profile</h3>
        <a href="javascript:{document.getElementById('editor_form').submit()}" id="change_profile_button" style="width: 50% !important; margin-bottom: 0 !important;">Update</a>
      </div>
      <form action="{% url 'update_profile' %}" method="post" enctype="multipart/form-data" id="editor_form">
        {% csrf_token %}
        <div class="row">
          <div class="col s12">
            <div class="file-field input-field">
              <div class="btn" style="background: #ffe400; color: #272727;">
                <span style="font-family: 'Roboto Condensed', sans-serif; font-weight: 450; font-size: 2vh;">Upload
                  Your Image</span>
                <input type="file" name="picture">
              </div>
              <div class="file-path-wrapper" style="font-size: 2.4vh; font-family: 'Roboto Condensed', sans-serif;">
                <input class="file-path validate input_picture" type="text" name="picture">
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s4 m2">
            <label for="edit_bio" class="bio_word">Bio</label>
          </div>
          <div class="col s8 m10">
            <textarea id="edit_bio" name="edit_bio" style="line-height: 1.8em;" class="materialize-textarea editing">{{profile.bio}}</textarea>
          </div>
        </div>
        <div class="row">
          <div class="col s4 m2">
            <label for="edit_interests" class="interests_word">Interests</label>
          </div>
          <div class="col s8 m10 left-align">
            <textarea name="edit_interests" style="line-height: 1.8em;" id="edit_interests" class="materialize-textarea editing">{{profile.interests}}</textarea>
            <small class="helper-text" style="color: #f4f4f4; font-size: 1.8vh;">Separate your interests
              by adding a semicolon...</small>
          </div>
        </div>
        <div class="row">
          <div class="col s4 m2">
            <label for="edit_email" class="email_word">Email</label>
          </div>
          <div class="col s8 m10">
            <input type="text" id="edit_email" name="edit_email" class="validate editing" value="{{user.email}}">
          </div>
        </div>
        <div class="row">
          <div class="col s4 m2">
            <label for="edit_github" class="github">GitHub</label>
          </div>
          <div class="col s8 m10">
            <input type="text" id="edit_github" name="edit_github" class="editing" value="{{profile.github}}">
          </div>
        </div>
        <div class="row">
          <div class="col s4 m2">
            <label for="edit_linkedIn" class="linkedin">LinkedIn</label>
          </div>
          <div class="col s8 m10">
            <input type="text" id="edit_linkedIn" name="edit_linkedin" class="editing" value="{{profile.linkedIn}}">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
</div>


<ul class="sidenav" id="mobile-nav" style="background: #272727;">
  {% if user.is_authenticated %}
  <li>
    <a href="{% url 'blogs' %}" style="color: #f4f4f4 !important;">Blogs</a>
  </li>
  <li>
    <a href="#addblog" class="waves-effect waves-light modal-trigger" style="color: #f4f4f4 !important;">Write A Blog</a>
  </li>
  {% if 'dashboard' in request.path %}
  <li><a href="#profile" class="waves-effect waves-light modal-trigger" style="color: #f4f4f4 !important;">My Profile
    </a>
  </li>
  {% else %}
  <li><a href="{% url 'dashboard' %}" style="font-size: 2.2vh !important;">Dashboard</a></li>
  {% endif %}
  <li>
    <a href="javascript:{document.getElementById('logout').submit()}" style="color: #f4f4f4 !important;">Logout</a>
  </li>
  {% else %}
  <li>
    <a href="{% url 'login' %}" style="color: #f4f4f4 !important;">Login</a>
  </li>
  <li>
    <a href="{% url 'register' %}" style="color: #f4f4f4 !important;">Register</a>
  </li>
  {% endif %}
</ul>

<form id="logout" action="{% url 'logout' %}" method="POST" style="display: none;">
  {% csrf_token %}
  <input type="text" style="display: none;">
</form>
<script src='https://cloud.tinymce.com/stable/tinymce.min.js'></script>