{% extends 'partials/base.html' %}

{% block content %}
{% include 'partials/_navbar.html' %}

<!-- Resources Collapsible Section  -->
<div class="main-rb-section">
  <div class="collapsing-resources center">
    <h3 class="blog-header animated fadeInDown faster" style="margin: 0.6rem 0;">Get Started</h3>
    <ul class="collapsible main-collapse">
      <li>
        <div class="collapsible-header"><i class="far fa-star"></i>Resources</div>
        <div class="collapsible-body" style="background: #f4f4f4;">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="fab fa-firefox"></i>Web Dev</div>
              <div class="collapsible-body" style="">
                <span>
                  <div class="collection" style="border:2px solid #272727;">
                    <a href="https://simpleisbetterthancomplex.com/" target="_blank" class="collection-item" style="color: #272727;">Simple is better than Complex</a>
                    <a href="https://www.fullstackpython.com/" target="_blank" class="collection-item" style="color: #272727;">Full Stack Python</a>
                    <a href="https://www.youtube.com/watch?v=Fc2O3_2kax8&list=PLw02n0FEB3E3VSHjyYMcFadtQORvl1Ssj" target="_blank" class="collection-item" style="color: #272727;">Django Tutorial (YouTube)</a>
                    <a href="https://www.youtube.com/watch?v=w-7RQ46RgxU&list=PL4cUxeGkcC9gcy9lrvMJ75z9maRw4byYp" target="_blank" class="collection-item" style="color: #272727;">Node Js Tutorial (YouTube)</a>
                    <a href="https://www.udemy.com/nodejs-the-complete-guide/?ranMID=39197&ranEAID=jU79Zysihs4&ranSiteID=jU79Zysihs4-0VHzVWLz5Uq6yJ6IKp0Z3w&LSNPUBID=jU79Zysihs4" target="_blank" class="collection-item" style="color: #272727;">Node Js: The Complete Tutorial</a>
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-laptop"></i>Programming</div>
              <div class="collapsible-body">
                <span>
                  <div class="collection" style="border:2px solid #272727;">
                    <a href="https://www.codecademy.com/learn" target="_blank" class="collection-item" style="color: #272727;">Codecademy</a>
                    <a href="https://services.github.com/on-demand/downloads/github-git-cheat-sheet.pdf" target="_blank" class="collection-item" style="color: #272727;">Git Cheat Sheet</a>
                    <a href="https://www.youtube.com/watch?v=JJmcL1N2KQs&t=3695s" target="_blank" class="collection-item" style="color: #272727;">Python Crash Course</a>
                    <a href="https://www.youtube.com/watch?v=PkZNo7MFNFg" target="_blank" class="collection-item" style="color: #272727;">JavaScript Crash Course</a>
                    <a href="https://www.youtube.com/watch?v=CF9S4QZuV30" target="_blank" class="collection-item" style="color: #272727;">Go Crash Course</a>
                    <a href="https://www.youtube.com/watch?v=vLnPwxZdW4Y" target="_blank" class="collection-item" style="color: #272727;">C++ Crash Course</a>
                    <a href="https://www.youtube.com/watch?v=7ArHz8jPglw&index=5&list=PLQbxgIKVVeTMvk1d2IOeRjQScla9Bs0hn" target="_blank" class="collection-item" style="color: #272727;">Hackerrank - Data Structures</a>
                  </div> 
                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-brain"></i>Machine Learning & AI</div>
              <div class="collapsible-body">
                  <span>
                      <div class="collection" style="border:2px solid #272727;">
                        <a href="https://www.youtube.com/watch?v=PPLop4L2eGk&list=PLLssT5z_DsK-h9vYZkQkYNWcItqhlRJLN" target="_blank" class="collection-item" style="color: #272727;">Intro to ML ~ Andrew NG</a>
                        <a href="https://in.udacity.com/course/intro-to-machine-learning--ud120-india" target="_blank" class="collection-item" style="color: #272727;">Intro to ML ~ Udacity (Free)</a> 
                        <a href="https://www.youtube.com/channel/UCWN3xxRkmTPmbKwht9FuE5A" target="_blank" class="collection-item" style="color: #272727;">AI By Siraj Raval</a>
                        <a href="https://in.udacity.com/course/intro-to-artificial-intelligence--cs271" target="_blank" class="collection-item" style="color: #272727;">Intro to AI ~ Udacity (Free)</a> 
                      </div> 
                    </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-globe"></i>Networking & Security</div>
              <div class="collapsible-body">
                  <span>
                      <div class="collection" style="border:2px solid #272727;">
                        <a href="https://www.youtube.com/channel/UC0ZTPkdxlAKf-V33tqXwi3Q/playlists" target="_blank" class="collection-item" style="color: #272727;">Hackersploit on YouTube</a> 
                      </div> 
                  </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-mobile"></i>Android & IOS</div>
              <div class="collapsible-body">
                  <span>
                      <div class="collection" style="border:2px solid #272727;">
                        <a href="https://www.youtube.com/watch?v=H_oGi8uuDpA" target="_blank" class="collection-item" style="color: #272727;">Learn Kotlin for Android Dev</a>
                        <a href="https://www.youtube.com/watch?v=GLSG_Wh_YWc" target="_blank" class="collection-item" style="color: #272727;">Intro to Flutter</a>
                        <a href="https://www.youtube.com/watch?v=Ulp1Kimblg0" target="_blank" class="collection-item" style="color: #272727;">Swift for IOS Tutorial</a>
                        <a href="https://www.youtube.com/watch?v=CYNZ6QTbB3A" target="_blank" class="collection-item" style="color: #272727;">Ionic 4</a>
                      </div> 
                  </span>
                  
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-book"></i>Must Read For Programmers</div>
              <div class="collapsible-body">
                  <span>
                      <div class="collection" style="border:2px solid #272727;">
                        <a href="https://amzn.to/2CnE8Yu" target="_blank" class="collection-item" style="color: #272727;">Intro to Algorithms</a>
                        <a href="https://amzn.to/2H5Vsa6" target="_blank" class="collection-item" style="color: #272727;">Data Structures & Algorithms Made Easy</a>
                        <a href="https://amzn.to/2SRhrDj" target="_blank" class="collection-item" style="color: #272727;">Cracking The Coding Interview</a>
                        <a href="https://amzn.to/2SPUSif" target="_blank" class="collection-item" style="color: #272727;">Clean Code</a>
                        <a href="https://amzn.to/2AK5Cb3" target="_blank" class="collection-item" style="color: #272727;">Time Management By Brian Tracy</a>
                        <a href="https://amzn.to/2TOZxRH" target="_blank" class="collection-item" style="color: #272727;">Getting Things Done</a>
                        <a href="https://amzn.to/2HdgALF" target="_blank" class="collection-item" style="color: #272727;">Think like a Programmer</a>
                        <a href="https://amzn.to/2SN3Zjv" target="_blank" class="collection-item" style="color: #272727;">Exercises for programmers</a> 
                        <a href="https://amzn.to/2Hk06Bk" target="_blank" class="collection-item" style="color: #272727;">Cryptography and Network Security</a>
                      </div> 
                  </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-hands-helping"></i>Help Us Expand</div>
              <div class="collapsible-body">
                  <div class="collection" style="border:2px solid #272727;">
                      <a href="#message_modal" class="collection-item modal-trigger waves-effect waves-light" style="color: #272727;">Share Great Resources</a>
                  </div> 
              </div>
            </li>
          </ul>
        </div>
      </li>
      <!-- <li>
        <div class="collapsible-header"><i class="fab fa-blogger"></i>Blogger of the Month</div>
        <div class="collapsible-body" style="background: #f4f4f4;">Send a </div>
      </li> -->
    </ul>
  </div>

  <!-- Modal Structure -->
  <div id="message_modal" class="modal bottom-sheet">
      <div class="modal-content">
        <div class="container new_message_container">
          <h3 style="text-align: center; font-family: 'Kaushan Script', cursive; font-size: 4.4vh; font-weight: 500;"><i
              class="fas fa-hands-helping"></i> Help Us Expand</h3>
          <div class="new_message">
            <form action="{% url 'sendmsg' %}" method="POST">
              {% csrf_token %}
              <div class="user_button">
                <input type="text" name="username" style="font-size: 2.8vh; font-family: 'Roboto Condensed', sans-serif;"
                  value="Aniket" placeholder="Enter Username..." required>
                <button type="submit" name="send_message" class="send_button">Send</button>
              </div>
              <div class="text-area">
                <textarea name="text_message" style="font-size: 2.8vh; font-family: 'Roboto Condensed', sans-serif;"
                  class="materialize-textarea" placeholder="Name of the resource -> Link" required></textarea>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


  <div class="blog-section">
    <div class="blog-head-section">
      <h3 class="blog-header animated fadeInDown faster">Blogs</h3>
      <div class="search">
        <a href="{% url 'search' %}" class="blog-header-search animated fadeInDown faster"><i class="fas fa-search"></i></a>
      </div>
    </div>
    <div class="row">
      {% for blog in blogs %}
      {% if blog.blog.is_published %}
      <div class="col s12 m6 l6 xl4">
        <div class="card">
          <div class="card-image">
            <a href="{% url 'blog' blog.blog.id %}"><img src="{{blog.blog.main_image.url}}" style="object-fit:cover;"
                height="200" width="100%"></a>
            <span class="card-title hoverable"><a href="{% url 'blog' blog.blog.id %}" style="color: #f4f4f4;">{{blog.blog.title}}</a></span>
            <a href="javascript:{document.getElementById('liker2{{blog.blog.id}}').submit()}" class="btn-floating halfway-fab waves-effect waves-light red btn-large">
              {% if blog.is_liked %} <i class="fas fa-heart"></i> {% else %} <i class="far fa-heart"></i> {% endif %}
            </a>
          </div>
          <div class="card-content">
            <!-- <p style="font-weight: 500; font-size: 2vh;">{{blog.blog.small_body | striptags}}</p> -->
            <p style="font-weight: 600; font-size: 1.8vh;"><i class="fas fa-user-edit"></i>
              {{blog.blog.author.first_name}} {{blog.blog.author.last_name}} ({{blog.blog.author.username}})</p>
            <p style="font-weight: 600; font-size: 1.8vh;"><i class="far fa-clock"></i> {{blog.blog.pretty_pub}}</p>
          </div>
        </div>
      </div>
      <form id="liker2{{blog.blog.id}}" action="{% url 'liker2' blog.blog.id %}" method="POST" style="display: none;">
        {% csrf_token %}
        <input type="text" style="display: none;">
      </form>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}