{% extends 'partials/base.html' %}

{% block content %}
{% include 'partials/_navbar.html' %}

<!-- Resources Collapsible Section  -->
<div class="main-rb-section">
  <div class="collapsing-resources center">
    <h3 class="blog-header" style="margin: 0.6rem 0;">Get Started</h3>
    <ul class="collapsible main-collapse">
      <li>
        <div class="collapsible-header"><i class="far fa-star"></i>Resources</div>
        <div class="collapsible-body" style="background: #f4f4f4;">
          <ul class="collapsible">
            <li>
              <div class="collapsible-header"><i class="fab fa-firefox"></i>Web Dev</div>
              <div class="collapsible-body" style="">
                <span>
                  <div class="collection" style="border:2px solid #272727;">
                    <a href="https://www.udemy.com" target="_blank" class="collection-item" style="color: #272727;">Udemy</a>
                    <a href="https://www.udacity.com" target="_blank" class="collection-item" style="color: #272727;">Udacity</a>
                    <a href="#!" class="collection-item" style="color: #272727;">Coursera</a>
                    <a href="#!" class="collection-item" style="color: #272727;">EdX</a>
                  </div>

                </span>
              </div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-laptop"></i>Programming</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-brain"></i>Machine Learning & AI</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-globe"></i>Networking & Security</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-mobile"></i>Android & IOS</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-wifi"></i>Internet Of Things</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-infinity"></i>Other Resources</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
            <li>
              <div class="collapsible-header"><i class="fas fa-hands-helping"></i>Help Us Expand</div>
              <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><i class="fab fa-blogger"></i>Blogger of the Month</div>
        <div class="collapsible-body" style="background: #f4f4f4;"><span>Lorem ipsum dolor sit amet.</span></div>
      </li>
    </ul>
  </div>


  <div class="blog-section">
    <div class="blog-head-section">
      <h3 class="blog-header">Blogs</h3>
      <div class="search">
        <a href="{% url 'search' %}" class="blog-header-search"><i class="fas fa-search"></i></a>
      </div>
    </div>
    <div class="row">
      {% for blog in blogs %}
      {% if blog.blog.is_published %}
      <div class="col s12 m6 l6 xl4">
        <div class="card">
          <div class="card-image">
            <a href="{% url 'blog' blog.blog.id %}"><img src="{{blog.blog.main_image.url}}" style="object-fit:cover;"
                height="200" width="100%"></a>
            <span class="card-title hoverable"><a href="{% url 'blog' blog.blog.id %}" style="color: #f4f4f4;">{{blog.blog.title}}</a></span>
            <a href="javascript:{document.querySelector('#liker2{{blog.blog.id}}').submit()}" class="btn-floating halfway-fab waves-effect waves-light red btn-large">
              {% if blog.is_liked %} <i class="fas fa-heart"></i> {% else %} <i class="far fa-heart"></i> {% endif %}
            </a>
          </div>
          <div class="card-content">
            <!-- <p style="font-weight: 500; font-size: 2vh;">{{blog.blog.small_body | striptags}}</p> -->
            <p style="font-weight: 600; font-size: 1.8vh;"><i class="fas fa-user-edit"></i>
              {{blog.blog.author.first_name}} {{blog.blog.author.last_name}} ({{blog.blog.author.username}})</p>
            <p style="font-weight: 600; font-size: 1.8vh;"><i class="far fa-clock"></i> {{blog.blog.pretty_pub}}</p>
          </div>
        </div>
      </div>
      <form id="liker2{{blog.blog.id}}" action="{% url 'liker2' blog.blog.id %}" method="POST" style="display: none;">
        {% csrf_token %}
        <input type="text" style="display: none;">
      </form>
      {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<script src="https://unpkg.com/scrollreveal"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
{% endblock %}