{% extends 'partials/base.html' %}
<!-- <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="Resources/CSS/main.css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="Resources/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">
  <title>BeLabs</title>
</head>

<body class="bodyback-plain"> -->
  <!-- <div class="overlay"></div> -->
  {% block content %}
  {% include 'partials/_navbar.html' %}

  <div class="complete-blog center">
    <div class="main-blog-image">
      <div class="container img-contain">
        <img src="{{blog.main_image.url}}" class="complete-blog-img materialboxed">
      </div>

      <!-- <div class="container"> -->
      <!-- style="position: relative; top: 2rem; left: 4rem;" -->
      <!-- style="position: relative; top: 10rem; left: 12rem;" -->
      <div class="row title-like-cards">
        <div class="col s12 m12 l8">
          <div class="card" style="background: rgba(37, 37, 37,0.8); border: 2px solid #f4f4f4;margin-top: 0.8rem;">
            <div class="card-content white-text center">
              <span class="card-title" style="display: inline-block; font-size: 3.4vh;font-family: 'Poppins', cursive; line-height: 1.2em ; padding: 1rem !important; margin: 0.2rem auto !important;"><i class="far fa-clipboard"></i> {{blog.title}}</span>
              <div class="courtesy-p">
                <p style="margin-left: 1rem;font-size: 2vh; margin-top: 0.4rem;">Written By: {{blog.author.first_name}} {{blog.author.last_name}}</p>
                <p style="margin-left: 1rem;font-size: 2vh; margin-top: 0.4rem;">Contact: {{blog.author.email}}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l2 blog-icons">
          <!-- <div class="card" style="background: rgba(37, 37, 37, 0); border: none;margin-top: 1.2rem;">
              <div class="card-content white-text center"> -->
          <a href="#">
            <span class="card-title"><i class="far fa-heart"></i></span>
            <p>{{blog.likes}}</p>
          </a>
          <!-- </div> -->
          <!-- </div> -->
        </div>
        <div class="col s6 m6 l2 blog-icons">
          <!-- <div class="card" style="background: rgba(37, 37, 37, 0); border: none;margin-top: 1.2rem;">
              <div class="card-content white-text center"> -->
          <a href="#">
            <span class="card-title"><i class="fas fa-comments"></i></span>
            <p>{{blog.comments}}</p>
          </a>
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
      <!-- </div> -->
    </div>

    <div class="container">
      <div class="main-blog-content" style="border: 2px solid #f4f4f4; margin-bottom: 1.5rem !important;">
        <div class="author-details" style="border: 2px solid #f4f4f4;">
          <h3>{{blog.title}}</h3>
          <p>{{blog.body}}</p>
        </div>
      </div>
    </div>

    <div class="container comments_section">
      <h4 style="font-size: 5vh; font-family: 'Kaushan Script', cursive; font-weight: 600; margin: 0.4rem auto !important;"><i class="far fa-comment-dots"></i> Comment Section <i class="far fa-comment-dots" style="margin-left: 8px !important;"></i></h4>

      <div class="comments" style="margin: 0.6rem auto !important;">
        <div class="person_comments" style="height: 50vh">
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Phil Hellmuth</span>: Hey Son, Just wanted to say Hello This is a Simple comment</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Daniel Negreanu</span>: Cool that is</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Phil Hellmuth</span>: Hey Son, Just wanted to say Hello This is a Simple comment</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Daniel Negreanu</span>: Cool that is</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Phil Hellmuth</span>: Hey Son, Just wanted to say Hello This is a Simple comment</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Daniel Negreanu</span>: Cool that is</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Daniel Negreanu</span>: Cool that is</p>
        </div>
        <div class="post_comment" style="margin-bottom: 1rem; margin-top: 1rem;">
          <form style="display: flex; align-items:center;">
            <input style="flex: 6; font-size: 2vh; font-family: 'Roboto Condensed', sans-serif;" id="comment" type="text" name="comment" value="" placeholder="Write a comment...">
            <button style="flex: 1; margin-left: 1rem;" type="submit" name="post_comment_button" id="post_button">Post</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="Resources/lightbox2-master/dist/js/lightbox.js"></script>
  {% endblock %}
