<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="Resources/CSS/main.css">
  <link href="https://fonts.googleapis.com/css?family=Kaushan+Script|Poppins|Roboto+Condensed" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link href="Resources/lightbox2-master/dist/css/lightbox.css" rel="stylesheet">
  <title>BeLabs</title>
</head>

<body class="bodyback-plain">
  <!-- <div class="overlay"></div> -->
  <div class="navbar-fixed">
    <nav class="main-navbar">
      <div class="nav-wrapper container">
        <a href="main.html" class="brand-logo valign-wrapper">BeLabs</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-nav">
          <i class="fas fa-bars"></i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="blogs.html" style="font-size: 2.2vh !important;">Blogs</a></li>
          <li><a href="login.html" style="font-size: 2.2vh !important;">Login</a></li>
          <li><a href="register.html" style="font-size: 2.2vh !important;">Register</a></li>
        </ul>
      </div>
    </nav>
  </div>

  <ul class="sidenav" id="mobile-nav" style="background: #272727;">
    <li>
      <a href="blogs.html" style="color: #f4f4f4 !important;"><i class="fas fa-smile-wink" style="color: #f4f4f4; font-size: 3vh !important;"></i></a>
    </li>
    <li>
      <a href="blogs.html" style="color: #f4f4f4 !important; font-size: 3vh !important;">Blogs</a>
    </li>
    <li>
      <a href="login.html" style="color: #f4f4f4 !important; font-size: 3vh !important;">Login</a>
    </li>
    <li>
      <a href="register.html" style="color: #f4f4f4 !important; font-size: 3vh !important;">Register</a>
    </li>
  </ul>

  <div class="complete-blog center">
    <div class="main-blog-image">
      <div class="container img-contain">
        <img src="Resources/CSS/t3.jpg" class="complete-blog-img materialboxed">
      </div>

      <!-- <div class="container"> -->
      <!-- style="position: relative; top: 2rem; left: 4rem;" -->
      <!-- style="position: relative; top: 10rem; left: 12rem;" -->
      <div class="row title-like-cards">
        <div class="col s12 m12 l8">
          <div class="card" style="background: rgba(37, 37, 37,0.8); border: 2px solid #f4f4f4;margin-top: 0.8rem;">
            <div class="card-content white-text center">
              <span class="card-title" style="display: inline-block; font-size: 3.4vh;font-family: 'Poppins', cursive; line-height: 1.2em ; padding: 1rem !important; margin: 0.2rem auto !important;"><i class="far fa-clipboard"></i> Theory Of
                Computation</span>
              <div class="courtesy-p">
                <p style="margin-left: 1rem;font-size: 2vh; margin-top: 0.4rem;">Written By: Aniket Shahane</p>
                <p style="margin-left: 1rem;font-size: 2vh; margin-top: 0.4rem;">Contact: shahaneaniket11@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col s6 m6 l2 blog-icons">
          <!-- <div class="card" style="background: rgba(37, 37, 37, 0); border: none;margin-top: 1.2rem;">
              <div class="card-content white-text center"> -->
          <a href="#">
            <span class="card-title"><i class="far fa-heart"></i></span>
            <p>400</p>
          </a>
          <!-- </div> -->
          <!-- </div> -->
        </div>
        <div class="col s6 m6 l2 blog-icons">
          <!-- <div class="card" style="background: rgba(37, 37, 37, 0); border: none;margin-top: 1.2rem;">
              <div class="card-content white-text center"> -->
          <a href="#">
            <span class="card-title"><i class="fas fa-comments"></i></span>
            <p>10</p>
          </a>
          <!-- </div> -->
          <!-- </div> -->
        </div>
      </div>
      <!-- </div> -->
    </div>

    <div class="container">
      <div class="main-blog-content" style="border: 2px solid #f4f4f4; margin-bottom: 1.5rem !important;">
        <div class="author-details" style="border: 2px solid #f4f4f4;">
          <h3>The Theory of Computation</h3>
          <p>In theoretical computer science and mathematics, the theory of computation is the branch that deals with how efficiently problems can be solved on a model of computation, using an algorithm. The field is divided into three major
            branches: automata theorResources/lightbox2-master/disty and languages, computability theory, and computational complexity theory, which are linked by the question: "What are the fundamental capabilities and limitations of
            computers?".[1]

            In order to perform a rigorous study of computation, computer scientists work with a mathematical abstraction of computers called a model of computation. There are several models in use, but the most commonly examined is the Turing
            machine.[2] Computer scientists study the Turing machine because it is simple to formulate, can be analyzed and used to prove results, and because it represents what many consider the most powerful possible "reasonable" model of
            computation (see Church–Turing thesis).[3] It might seem that the potentially infinite memory capacity is an unrealizable attribute, but any decidable problem[4] solved by a Turing machine will always require only a finite amount of
            memory. So in principle, any problem that can be solved (decided) by a Turing machine can be solved by a computer that has a finite amount of memory.</p>
        </div>
      </div>
    </div>

    <div class="container comments_section">
      <h4 style="font-size: 5vh; font-family: 'Kaushan Script', cursive; font-weight: 600; margin: 0.4rem auto !important;"><i class="far fa-comment-dots"></i> Comment Section <i class="far fa-comment-dots" style="margin-left: 8px !important;"></i></h4>

      <div class="comments" style="margin: 0.6rem auto !important;">
        <div class="person_comments" style="height: 50vh">
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Phil Hellmuth</span>: Hey Son, Just wanted to say Hello This is a Simple comment</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Daniel Negreanu</span>: Cool that is</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Phil Hellmuth</span>: Hey Son, Just wanted to say Hello This is a Simple comment</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Daniel Negreanu</span>: Cool that is</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Phil Hellmuth</span>: Hey Son, Just wanted to say Hello This is a Simple comment</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Daniel Negreanu</span>: Cool that is</p>
          <p class="comment_text" style="padding: 0.6rem 0.4rem !important;"><span class="comment_poster" style="color: #ffe400; font-size: 2.4vh;">@Daniel Negreanu</span>: Cool that is</p>
        </div>
        <div class="post_comment" style="margin-bottom: 1rem; margin-top: 1rem;">
          <form style="display: flex; align-items:center;">
            <input style="flex: 6; font-size: 2vh; font-family: 'Roboto Condensed', sans-serif;" id="comment" type="text" name="comment" value="" placeholder="Write a comment...">
            <button style="flex: 1; margin-left: 1rem;" type="submit" name="post_comment_button" id="post_button">Post</button>
          </form>
        </div>
      </div>
    </div>

  </div>

  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script src="Resources/lightbox2-master/dist/js/lightbox.js"></script>
  <script type="text/javascript" src="Resources/JavaScript/main.js"></script>
</body>

</html>